$primary-color: #F0F2F5;
$secondary-color:#FFFFFF;
$font-color: #455A64;

$note-color-options: (
    "option1": #BAE2FF, 
    "option2": #B9FFDD, 
    "option3": #FFE8AC, 
    "option4": #FFCAB9,
    "option5": #F99494, 
    "option6": #9DD6FF, 
    "option7": #ECA1FF,
    "option8": #DAFF8B,
    "option9": #FFA285,
    "option10": #CDCDCD,
    "option11": #979797,
    "option12": #A99A7C
);