@import './variables';

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    min-width: 473px ;
    background-color: $primary-color;
}