@import '../../styles/mixins' ;
@import '../../styles/variables.module.scss' ;

.content {
    @include flexCenter(column);
    padding: 25px 0;
    gap: 65px;

    .section-filters{
        @include flexRight(row);
        background-color: transparent;
        
        .filter-color{
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: 1px solid #D9D9D9;
            box-shadow: 1px 1px 3px 0px #00000040;
            background-color: $primary-color;
        }

        .card-filter-color{
            display: none;
            visibility: hidden;
        }

        .card-filter-color.show{
            @include flexCenter(column);
            width: 20px;
            background-color: $secondary-color;
            border: 1px solid #D9D9D9;
        
            @each $option, $color in $note-color-options{
                .color-option-#{$option}{
                    background-color: $color;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    border: 1px solid #D9D9D9;
                    box-shadow: 1px 1px 3px 0px #00000040;
                }
            }
        }
    }

    section{   
        @include flexCenter(row);
        width: 100%;
        flex-wrap: wrap;
        gap: 12px;

        h4{
            width: 100%;
            max-width: 390X;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
            text-align: left;
            padding-left: 26px;
        }
        
        .post-its{
            gap: 58px 140px;
        }
    }

    .loading {
        @include flexCenter(row);
        gap: 35px;

        :not(:first-child){
            display: none;
            visibility: hidden;
            
        }

        @media screen and (min-width: 640px) {
            :first-child(2){
                visibility: visible;
                display: flex;
            }
            :last-child(){
                display: none;
                visibility: hidden;
            }
        }

        @media screen and (min-width: 640px) {
            :last-child(){
                display: flex;
                visibility: visible;
            }
        }
    }

    @media screen and (min-width: $breakpoint) {
      
        &{
            padding-left: 105px;
        }

        section:not([class= "section-create"]){
            @include flexLeft(row);
            
            .post-its {
                gap: 58px 35px;
            }
        }
    }
}
