@import '../../styles/mixins';

.bt {
    @include flexCenter(row);
    background-color: transparent;
    margin: 0;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;


    &[clicou = "true"]{
        background-color: #FFE3B3;
    }
    
    &.closed:hover {
        background-color: transparent;
    }

    &:hover{
        background-color: #FFE3B3;
    }
    
    &.save{
        font-size: 24px;
        color: rgb(5, 61, 5);
    }

    &.cancel {
        font-size: 20px;
        color: rgb(180, 22, 22);
    }
}